<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ambiente Virtual de Aprendizagem</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      abouuuuttt
    </p>
  </body>
</html>