<% provide(:title, 'Tópico 3') %>
<!-- Add the stylesheet to the head -->
<link rel="stylesheet" type="text/css" href="clippy.css" media="all">



<!-- Add these scripts to  the bottom of the page -->
<!-- jQuery 1.7+ -->
<script src="jquery.1.7.min.js"></script>

<!-- Clippy.js -->
<script src="clippy.min.js"></script>

<!-- Init script -->
<script type="text/javascript">
    clippy.load('F1', function(agent) {
        // Do anything with the loaded agent
        agent.show();
        agent.animate();
        agent.stop();
        agent.speak('When all else fails, bind some paper together. My name is Clippy.');

        agent.speak('outra fala');
        agent.play('Searching');agent.play('Searching');
        agente.stop();
        
        if (counter=="00:00:01"){
           alert("HI");
          
        }



    });
</script>



<script type="text/javascript">
  
  function falar(){

   alert("HI");
   agent.speak('Teste Clippy.');
  }

</script>


<script>
  closenext(){
 $("#myModal .close").click()

  }
</script>


<script>
function formatatempo(segs) {
//function por Augusto Claro
//augustoclaro1@hotmail.com
//www.seven3d.com.br
min = 0;
hr = 0;

while(segs>=60) {
if (segs >=60) {
segs = segs-60;
min = min+1;
}
}

while(min>=60) {
if (min >=60) {
min = min-60;
hr = hr+1;
}
}

if (hr < 10) {hr = "0"+hr}
if (min < 10) {min = "0"+min}
if (segs < 10) {segs = "0"+segs}
fin = hr+":"+min+":"+segs
return fin;
}
var segundos = 0; //inicio do cronometro
function conta() {
segundos++;
document.getElementById("counter").innerHTML = formatatempo(segundos);
}

function inicia(){
interval = setInterval("conta();",1000);
}

function para(){
clearInterval(interval);
tagNome();
}

function zera(){
clearInterval(interval);
segundos = 0;
document.getElementById("counter").innerHTML = formatatempo(segundos);
} 

function reinicia(){
  clearInterval(interval);
  segundos = 0;
  document.getElementById("counter").innerHTML = formatatempo(segundos);
  interval = setInterval("conta();",1000);
}
</script>



<script type="text/javascript">
  
function tagNome() {
 x = document.getElementById(cronometro.id);
 y = x.innerHTML;

 z = y.replace('<span id="counter">', '')
 time = z.replace('</span>', '')
 //alert(time); - mensagem é mostrada
 $("#tempo").val(time);


}

</script>



<%= link_to "<< Voltar", topicos_path %>


<center>
    
  <h1> Tópico 3 – A Programação Orientada a Objetos usando JAVA 

  <br><br>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalClasse1" onclick="inicia()">
    Subtópico 1
  </button>

  <br><br>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalObjeto1" onclick="inicia()">
    Subtópico 2
  </button>

  <br><br>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHeranca1" onclick="inicia()">
    Subtópico 3
  </button>

   <br><br>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalPolimorfismo1" onclick="inicia()">
    Subtópico 4
  </button>

</center>


<button type="button"  onclick="falar()">Fala</button>






<!-- Modal Classe Page 1-->
<div class="modal fade" id="myModalClasse1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Classe</h4>
      </div>
      <div class="modal-body">

      <div align="justify"> 
      



      
      </div>

      <br>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next" data-toggle="modal" data-target="#myModalClasse2" onclick="closenext()" data-dismiss="modal">Next</button>
     

         <%= label_tag :tempo, class: "form-control", id: "cronometro" do %>
           <span id="counter">00:00:00</span>
         <% end %>


     

         <button type="button" class="btn btn-default" data-dismiss="modal" onclick="para()">Fechar</button>
      </div>



    </div>
  </div>
</div>




<!-- Modal Classe Page 2-->
<div class="modal fade" id="myModalClasse2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Classe</h4>
      </div>
      <div class="modal-body">

      <div align="justify"> 
      




        </div>

      </h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev" data-toggle="modal" data-target="#myModalClasse1" data-dismiss="modal">Prev</button>
        <button type="button" class="btn btn-default btn-next" data-toggle="modal" data-target="#myModalClasse3" data-dismiss="modal">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="para()">Fechar</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal Classe Page 3-->
<div class="modal fade" id="myModalClasse3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
       <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> BOTÃO FECHAR X -->
        <h4 class="modal-title" id="myModalLabel">Classe</h4>
      </div>
      <div class="modal-body">
      
      <h4> 
        <div align="justify"> 
        




        </div>
      </h4>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev" data-toggle="modal" data-target="#myModalClasse2" data-dismiss="modal">Prev</button>
        <button type="button" class="btn btn-default btn-next" data-toggle="modal" data-target="#myModalClasse4" data-dismiss="modal">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="para()">Fechar</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal Classe Page 4-->
<div class="modal fade" id="myModalClasse4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
       <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> BOTÃO FECHAR X -->
        <h4 class="modal-title" id="myModalLabel">Classe</h4>
      </div>
      <div class="modal-body">
      
      <h4>

        <div align="justify"> 
        







        </div>
        

      </h4>
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev" data-toggle="modal" data-target="#myModalClasse3" data-dismiss="modal">Prev</button>
        <button type="button" class="btn btn-default btn-next">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="para()">Fechar</button>
      </div>
    </div>
  </div>
</div>



