<!--<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ambiente Virtual de Aprendizagem</a>
    by <a href="http://www.michaelhartl.com/">Amanda Ornelas</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>-->